body {
  margin: 0px !important;
  border-left: 1em solid #f39c12;
}

.site header h1.title a span {
  color: #000;
  font-weight: normal;
}

.site header a {
  float: right;
}

.site header h1.title a span.name {
  font-weight: bold;
}

.site h1.post-title {
  font-size: 2em;
  line-height: 1.3em;
}

.site header h1.title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.container {
  width: 100% !important;
  margin: 0px auto !important;
}

.site {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0 auto;
  text-align: justify;
  width: 42em;
}

header {
  padding-top: 2em;
}

footer {
  padding-bottom: 2em;
}

.posts li {
    line-height: 1.5em;
    margin: 1em 0;
}

.posts .date {
  float: right;
}

@media(max-width: 999px) {
  .site {
    width: 80% !important;
  }

  .posts .date {
    display: none;
  }
}
