<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/ico" href="/favicon.ico">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <header>
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">inicio</a>
              <a class="extra" href="/about.html">sobre mí</a>
            </header>

                {{ content }}

            <footer>
              <div class="socials">
                  <a href="http://github.com/delucas/"><i class="icon-github icon-3x" title="delucas"></i></a>
                  <a href="http://twitter.com/luke_ar/"><i class="icon-twitter icon-3x" title="@luke_ar"></i></a>
                  <a href="feed.xml"><i class="icon-rss icon-3x" title="rss"></i></a>
              </div>
              <div class="license">
                  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0; margin-top:2px" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
              </div>
            </footer>
          </div>
        </div> <!-- /container -->

    </body>
</html>
